.swiper {
	width: 100%;
	height: 100%;
}
.mySwiper {
	height: 400px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
}

.swiper-slide img {
	display: block;
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.swiper-slide .apioverlay {
	background-color: rgba(0, 0, 0, 0.606);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 17px;
}
.slideContentapi {
	z-index: 2;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5%;
	font-size: 15px;
	text-align: center;
	margin: 5px;
}
.slideContentapi_no_image {
	z-index: 2;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	padding: 5%;
	height: 100%;
	font-size: 15px;
	text-align: center;
	margin: 5px;
}
.slideContentapi h3, .slideContentapi_no_image h3 {
	font-size: 17px;
	padding: 5px 0;
	margin: 0;
}
.slideContentapi p, .slideContentapi_no_image p {
	margin: 0;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.slideContentapi a, .slideContentapi_no_image a {
	text-decoration: none;
	margin: 0;
}

.slideContentapi button, .slideContentapi_no_image button {
	font-size: 17px;
	margin: 5px 0;
	border: 0;
	outline: 0;
	padding: 10px;
	width: fit-content;
	border-radius: 3px;
	cursor: pointer;
}
.slide_empty_state {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 80%
		),
		lightgray;
	background-repeat: repeat-y;
	background-size: 50px 500px;
	background-position: 0 0;
	animation: shine 1s infinite;
}
@keyframes shine {
	to {
		background-position: 100% 0, /* move highlight to right */ 0 0;
	}
}
.swiper-button-next, .swiper-button-prev{
	background-color: white;
	color: black;
	width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 100%;
}
.swiper-pagination-bullet-active{
	color: black;
	background-color: #000;
}